{% extends '_base.html' %}
{% load i18n %}

{% block title %}Change Password{% endblock title %}

{% block content %}
    <meta http-equiv="refresh" content="3;URL={% url 'account_login' %}">
     <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success!</strong> You'll be redirect to the log in page in 3 seconds... 
    </div>

    <h1>Change Password</h1>
    <p>Your password is now changed.</p>
    <iframe class="bookcover" src="https://giphy.com/embed/Tfy1QEkNqQSVYeJcml" frameBorder="0" allowFullScreen></iframe>
{% endblock %}