{% extends '_base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
    <h1>Homepage</h1>  
    {% if user.is_authenticated %}
        <h3>Hi {{ user.username }}!</h3>
        <p id="timer" class="badge badge-pill badge-warning">Your session expires in: {{ request.session.get_expiry_age }} sec.</p>
        <script>
            let Timer = document.getElementById("timer");
            let sessionTime = {{ request.session.get_expiry_age }}
            setInterval(countDown, 1000);

            function countDown(){
                Timer.innerHTML = `Your session expires in: ${sessionTime} sec.`
                sessionTime--;
            }
        </script>
    {% else %}
        <p>You are not logged in</p>
    {% endif %}
{% endblock content %}